@import "vars";
@import "mixin";
html {
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  h1 {
    font-weight: 300;
    font-size: 18px;
    @include longShadow(#ccc, 50);
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
}
.paper {
  max-width: 360px;
  margin: 100px auto;
  .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    li {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      overflow: hidden;
      &.yellow {
        background-color: #f48c06;
        @include longShadow(darken(#f48c06, 10), 30);
      }
      &.blue {
        background-color: #165cc6;
        @include longShadow(darken(#165cc6, 10), 30);
      }
      &.red {
        background-color: #ba2f19;
        @include longShadow(darken(#ba2f19, 10), 30);
      }
      &.gray {
        background-color: #5c606b;
        @include longShadow(darken(#5c606b, 10), 30);
      }
      &.green {
        background-color: #1dae13;
        @include longShadow(darken(#1dae13, 10), 30);
      }
    }
  }
}

.radioBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  input {
    display: none;
  }
  label {
    margin: 0 5px;
    span {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #000;
      color: #fff;
      justify-content: center;
      align-items: center;
    }
    input:checked ~ span {
      background-color: rgb(200, 0, 0);
      overflow: hidden;
      @include longShadow(darken(rgb(200, 0, 0), 10), 30);
    }
  }
}
